root = true

[*]
insert_final_newline = unset
trim_trailing_whitespace = true

[*.cs]
charset = utf-8-bom
indent_style = space
indent_size = 4
tab_width = 4

[*.{xml,csproj,resx,targets,props,config}]
charset = utf-8
indent_style = space
indent_size = 2
tab_width = 2
